@import "mixins";
@import "variables";
.node-type-publications #content {
  @include rem-fallback(max-width, 35);
  margin: 0 auto;
  &.two-column {
    margin: 0;
    max-width: 100%;
    @include respond-to(tablet) {
      img {
        float: left;
        width: 50%;
      }
      aside {
        float: left;
        width: 100%;
      }
    }

    @include respond-to(handheld) {
      img {
        float: none;
        width: 100%;
      }
      aside {
        background: $grey6;
        float: none;
        @include rem-fallback(padding, 1);
        width: 100%;
      }
    }
  }
}
.tablet-hide {
  @include respond-to(tablet) {
    display: none;
  }
}

.handheld-hide {
  @include respond-to(handheld) {
    display: none;
  }
}

.pad {
  @include rem-fallback(padding, 1.5);
}

.field {
	@include rem-fallback(margin-bottom, 1.5);
}

div.example {
  @include boxout;
}